{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block  content %}

<div class="card bg-dark position-absolute top-50 start-50 translate-middle border border-danger rounded-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-light text-center">Error 500</h5>
      <h6 class="card-subtitle mb-2 text-muted text-center">Aiyo, something went wrong.</h6>
        <p class="card-text text-light">Wah, please report this to the Chief Librarian!</p>
        <a href="javascript:history.back()" class="card-link btn btn-danger mt-3 mx-auto d-block">BACK</a>
    </div>
  </div>

{% endblock %}