<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-dark mb-4 border border-danger">
    <div class="container-fluid">


        <!-- Logo -->
        <a class="navbar-brand ms-2 my-auto" href="/">
            <img src="../static/logo.png" alt="" height=40 width=40>
        </a>


        <!-- Hamburger Button -->
        <button class="navbar-toggler navbar-dark"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                <!-- 1st nav link -->
                <li class="nav-item ms-3">
                    <a class="nav-link text-light" aria-current="page" href="/">Home</a>
                </li>



                <!-- 2nd nav link -->
                <!--<li class="nav-item ms-3">-->
                <!--    <a class="nav-link text-light" aria-current="page" onclick="showAbout();">About</a>-->
                <!--</li>-->


                <!--3rd nav link-->
                <li class="nav-item ms-3">
                    <a class="nav-link text-light" href="/admin"
                        >Admin Tools</a>
                </li>
            </ul>



            <!--log in/out-->
            <div id="loginbtn">
                {% if session.username %}
                    <span class="text-light">Logged in as {{session.username}} <a href="/logout" class="my-auto btn btn-primary">Log Out</a></span>
                {% else %}
                    <a href="/login" class="my-auto btn btn-danger">Log In</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<!--flash message box-->
<div class="row">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    {% if category == 'success' %}
                        <li class="col-auto mx-auto alert alert-success">{{ message }}</li>
                    {% elif category == 'error' %}
                        <li class="col-auto mx-auto alert alert-danger">{{ message }}</li>
                    {% else %}
                        <li class="col-auto mx-auto alert alert-info">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>