{% extends 'base.html' %}
{% include 'adminbar.html' %}

{% block  content %}
<script type="text/javascript" src="../static/admin.js"></script>
<script>
    $(function() {
        populateEnsembleList('#ensembleID');
        console.log('Page Loaded.')
    })
</script>

<div class="bg-dark" id="msgbox">
    <!--message box-->
</div>

<div class="col-lg-6 bg-dark mx-auto border border-danger rounded-3">
    <form class="" id="editMusicFormID" action="#" onsubmit="return editMusicByCatNo();">
        <h2 class='text-light mb-3 text-center'>Edit Catalogue</h2>
        <!--SEARCH ENTRY TO EDIT BY CATALOGUE NUMBER-->
            <div class="row g-3 align-items-center mb-3 mx-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="catalogueNoID" required>
                    <label for="catalogueNoID" class="form-label">Catalogue Number</label>
                </div>
                <button class="btn btn-danger rounded-pill" onclick="return getMusicByCatNo();">Load Details</button>
            </div>
        <!--DATA DISPLAY FOR CONFIRMATION-->
        <div class="row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="titleID" required>
                <label for="titleID" class="form-label text-dark">Title</label>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="composerID">
                <label for="composerID" class="form-label text-dark">Composer</label>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="arrangerID">
                <label for="arrangerID" class="form-label text-dark">Arranger</label>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="publisherID">
                <label for="publisherID" class="form-label text-dark">Publisher</label>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="featID">
                <label for="featID" class="form-label text-dark">Featured Instrument(s)</label>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating">
                <select class="form-select" id="ensembleID" required>
                    <!-- Ooptions populated on load -->
                </select>
                <label for="ensembleID" class="form-label text-dark">Ensemble Type</label>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="partsID">
                <label for="partsID" class="form-label text-dark">Parts</label>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating">
                <textarea class="form-control" id="remarksID"></textarea>
                <label for="remarksID" class="form-label text-dark">Remarks</label>
            </div>
        </div>

        <input class="btn btn-danger mx-auto my-3 d-block" type="submit" value="Submit"/>
    </form>
</div>


{% endblock %}