{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block  content %}

<script>
    $(function() {
        populateCategoryList('#categoryList');
        console.log("Page loaded.");
})
</script>



<!-- MAIN DISPLAY -->
<div class="container-fluid w-100">

    <!-- CATEGORY SELECTOR -->
    <div class="row mb-3 w-auto mx-auto">
        <div class="form-floating w-auto mx-auto">
            <select class="form-select" id="categoryList" onchange="selectCategory();">
                <!-- Options populated on load -->
            </select>
            <label for="categoryList" class="form-label">Categories</label>
        </div>
    </div>


    <div class="table-responsive" id="searchResults">
        <!-- Results Table -->
    </div>

</div>


{% endblock %}