{% extends 'base.html' %}

{% block  content %}

<!-- HOME PAGE MAIN BODY -->

<!-- Pagination -->
<div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link text-primary" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link text-danger" href="#">1</a></li>
        <li class="page-item"><a class="page-link text-danger" href="#">2</a></li>
        <li class="page-item"><a class="page-link text-danger" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link text-info" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
</div>

<!-- Table -->
<div id="searchResults">
</div>

<!-- Pagination -->
<div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link text-primary" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link text-danger" href="#">1</a></li>
        <li class="page-item"><a class="page-link text-danger" href="#">2</a></li>
        <li class="page-item"><a class="page-link text-danger" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link text-info" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
</div>

{% endblock %}