{% extends 'base.html' %}
{% include 'adminbar.html' %}

{% block  content %}
<script>
    $(function() {
        populateEnsembleList();
        populateCategoryList();
        console.log('Page Loaded.');
    })
    function populateAvailableBoxes() {
        var output = '<option selected disabled hidden>             </option>';
        let categoryID = $('#categoryList').val();
        $.ajax({
            url: 'http://elitelib22.pythonanywhere.com/emptyboxes/' + String(categoryID),
            type: 'GET',
            dataType: 'json',
            success: function(result) {
                for (let i=0; i < result.Boxes.length; i++) {
                    output += '<option value="'+ result.Boxes[i] +'">'+ result.Boxes[i] +'</option>'
                }
                $('#boxList').html(output)
            },
            error: showErrorMsg,
        });
        return false;
        $('#catalogueNoID').val(categoryID);
    }
</script>



<div class="col-lg-6 bg-dark mx-auto border border-danger rounded-3">
    <form  class="" id="searchID" action="#" onsubmit="return insertMusic();">
        <h2 class='text-light mb-3 text-center'>Insert New Music</h2>
        <div class="form-group row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating col-3">
                <select class="form-select" id="categoryList" onchange="populateAvailableBoxes()" required>
                    <!-- Options populated on load -->
                </select>
                <label for="categoryList" class="form-label">Category</label>
            </div>
            <div class="form-floating col-3">
                <select class="form-select" id="boxList" required>
                    <!-- Options populated on load -->
                </select>
                <label for="boxList" class="form-label">Box</label>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="catalogueNoID" readonly>
                <label for="catalogueNoID" class="form-label">Catalogue Number</label>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="titleID" required>
                <label for="titleID" class="form-label">Title</label>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="composerID">
                <label for="composerID" class="form-label">Composer</label>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="arrangerID">
                <label for="arrangerID" class="form-label">Arranger</label>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="publisherID">
                <label for="publisherID" class="form-label">Publisher</label>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="featID">
                <label for="featID" class="form-label">Featured Instrument(s)</label>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating">
                <select class="form-select" id="ensembleList">
                    <!-- Ooptions populated on load -->
                </select>
                <label for="ensembleID">Ensemble Type</label>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="partsID">
                <label for="partsID" class="form-label">Parts</label>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3 mx-3">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave remarks here" id="remarksID"></textarea>
                <label for="remarksID" class="form-label">Remarks</label>
            </div>
        </div>

        <input class="btn btn-danger mx-auto my-3 d-block" type="submit" value="Submit"/>
    </form>
</div>


{% endblock %}