{% extends 'base.html' %}
{% include 'adminbar.html' %}

{% block  content %}
<script>
    //login js
</script>


<div class="card bg-dark position-absolute top-50 start-50 translate-middle border border-danger rounded-3" style="width: 18rem;">
    <div class="card-body">
        <!--LOGIN FORM-->
    	<form>
        	<div class="form-group">
            	<img class="mx-auto d-block" src="static/CIA_Old.svg" height=100 width=100>
        	</div>
        	<div class="form-group">
            	<label for="userID">Username</label>
            	<input type="text" class="form-control" id="userID" aria-describedby="usernameHelp" placeholder="Enter Username">
            	<small id="usernameHelp" class="form-text text-muted"><!-- sub text here --></small>
        	</div>
        	<div class="form-group">
            	<label for="passwordID">Password</label>
            	<input type="password" class="form-control" id="passwordID" placeholder="Password">
        	</div>
    		<!-- <div class="form-check">
            	<input type="checkbox" class="form-check-input" id="exampleCheck1">
            	<label class="form-check-label" for="exampleCheck1">Check me out</label>
        	</div> -->
        	<button type="submit" class="btn btn-danger mt-3 mx-auto">Log In</button>
        </form>

    </div>
  </div>

{% endblock %}