<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand text-light" href="/"
            ><img src="../static/logo.png" alt="" height=40 width =40
        /></a>
        <!-- Hamburger Button -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
        >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Dropdown list -->
                <li class="nav-item dropdown">
                    <a
                        class="nav-link active dropdown-toggle text-light"
                        href="/"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Ensemble Types
                    </a>
                    <ul
                        class="dropdown-menu bg-dark"
                        aria-labelledby="navbarDropdown"
                    >
                        <li>
                            <a
                                class="dropdown-item text-light"
                                href="/music/concert"
                                >Concert Band</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item text-light"
                                href="/music/marching"
                                >Marching Band</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item text-light"
                                href="/music/solo"
                                >Solo</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item text-light"
                                href="/music/ensemble"
                                >Ensemble</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item text-light"
                                href="/music/bigband"
                                >Big Band</a
                            >
                        </li>
                        <li>
                            <hr
                                class="dropdown-divider text-light"
                            />
                        </li>
                        <li>
                            <a
                                class="dropdown-item text-light"
                                href="/music/study"
                                >Study</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item text-light"
                                href="/music/reference"
                                >Reference</a
                            >
                        </li>
                        <li>
                            <hr
                                class="dropdown-divider text-light"
                            />
                        </li>
                        <li>
                            <a
                                class="dropdown-item text-light"
                                href="/music/others"
                                >Others</a
                            >
                        </li>
                    </ul>
                </li>
                <!-- 2nd nav link -->
                <li class="nav-item">
                    <a
                        class="nav-link text-light"
                        aria-current="page"
                        href="#"
                        >About</a
                    >
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-light" href="#"
                        >Help</a
                    >
                </li>
            </ul>
            <!-- Search function -->
            <form class="d-flex">
                <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                />
                <button
                    class="btn btn-outline-danger"
                    type="submit"
                >
                    Search
                </button>
            </form>
        </div>
    </div>
</nav>